# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Django
.env
db.sqlite3
staticfiles/

# React / Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Django
db.sqlite3
staticfiles/

# OS
.DS_Store
Thumbs.db
